
.main-news{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    margin-top: 5%;
    border-bottom:1px solid #333;
}
.main-text{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 32px;
    border-bottom: 1px solid #333;
    
}
.sub-text{
    font-size: 25px;
    margin-top: 1%;
    margin-left: 1%;
}
.sub-text2{
    font-size: 20px;
}

.ad {
    margin-left: 20.5%;
}

.sub{
    display: flex;
     padding: 20px;
     margin: 0 auto;
     margin-top: 1%;
     width: 1100px;
     border: 1px solid black;
     margin-bottom: 30px;
    
 }

.sub-news{
    background-color: rgb(245, 245, 245);
    margin-right: 10px;
    text-align: center;
    width: 180px;
    height: 180px;
    border: 1px solid black;

}

.sub-img{
   margin-top: 10px;

}

.sub-news-text{
    width: 180px;
    height: 55px;
    overflow : hidden;
    text-overflow : ellipsis
  
   
}

.chatgpt{
    
    margin-top: 40px;
    width: 1980px;
    height: 700px;
    background-color: #999;
}

.chat{
   
    display: flex;
    width: 100%;
    height: 500px;
    margin-left: 8%;
   
}

.chat-tit{
    margin-left: 5%;
    padding: 50px;
    width: 850px;
    font-size: 30px;
    color: #333;
    
}

.chat-news{
    display: block;
    margin-top: 20px;
    background-color: white;
    margin-right: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;

}

.chat-img{
   margin-top: 10px;

}

.chat-news-text{
    width: 300px;
    height: 70px;
    overflow : hidden;
    text-overflow : ellipsis
  
   
}

.sub-tit{
    padding: 5px;
    text-align: center;
    margin-left: 80px;
    margin-right: 20px;
    width: 140px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    color: #666;
    background-color: orange;
    box-shadow: 2px 2px 2px 2px;
}

.chat-news2{
    display: block;
    margin-top: 20px;
    background-color: white;
    margin-right: 10px;
    text-align: center;
    width: 400px;
    height: 400px;
    border: 1px solid black;

}

.chat-img2{
   margin-top: 10px;

}

.chat-news-text2{
    width: 400px;
    height: 72px;
    overflow : hidden;
    text-overflow : ellipsis
  
   
}